/* Desktop View */
@media (max-width: 1200px) {

}

/* Laptop View */
@media (max-width: 992px) {

.carousel-inner h1{
	font-size: 40px;
}
.carousel-inner h1{
	font-size: 20px;
}
/*End Navbar*/
.logo img {
    width: 50px;
}
/*END header*/	
.banner-img1 .banner-img2 .banner-img3 .banner-img4{
	min-height: 500px;
}
/* End Banner */
.sec1 {
    padding: 100px 35px 100px;
}
.s1col i{
	font-size: 40px;
}
.s1col h2{
	font-size: 17px;
}
/* END Sec1 */
.sec2{
    padding: 0px 20px 100px 20px;
}
.s2right h2{
	font-size: 30px;
}
/* END sec2 */
.sec3{
	padding: 0px 20px 100px 20px;
}
.sec3 h2{
	font-size: 30px;
}
.s3icon{
	font-size: 20px;
}
/* END sec3 */
.col2 h2{
	font-size: 30px;
}
.book{
    padding: 10px 5px 20px;
}
/* End sec4 */
.sec5{
	padding: 0px 40px 100px;
}
.sec5 h2{
	font-size: 28px;
}
.s5col img {
	height: 200px;
}
.s5col h2 {
	font-size: 16px;
	ine-height: inherit;
}
/* End sec5 */
.sec6{
	padding: 0px 40px 100px;
}
/* End sec6 */
.letter{
    width: 220px;
}
.footin{
	font-size: 15px;
	padding: 28px;
}
.letter-btn{
    width: 50%;
    top: 9px;
} 
/*END footer*/
}

/* Tablet View */
@media (max-width: 768px) {

.logo img {
    width: 50px;
}
/*END header*/
.banner-img1 .banner-img2 .banner-img3 .banner-img4{
	min-height: 500px;
} 
/* End Banner */
.s1col{
	flex-basis: 48%;
	margin-bottom: 10px;
}
.s1col i{
	font-size: 30px;
}
.s1col h2{
    font-size: 15px;
    line-height: 15px;
}
/* END Sec1 */
.s2row{
	display: block;
}
.s2right h2{
	font-size: 20px;
}
/* END sec2 */
.sec3 h2{
	font-size: 20px;
}
.s3icon{
	font-size: 30px;
}
/* END sec3 */

.col2 h2{
	font-size: 20px;
}
.book .primary-btn1{
	width: 30%;
}
/* End sec4 */
.sec5 h2{
	font-size: 20px;
}
.s5col{
	flex-basis: 48%;
	margin-bottom: 10px;
}
.s5col img {
	height: 170px;
	width: 70%;
}
.s5col h2 {
	font-size: 15px;
}
/* End sec5 */
.s6col{
	flex-basis: 30%;
}
.s6col i {
	font-size: 35px;
}
.client-img  img{
	width: 100%;
}
.s6col {
    padding: 0px 0px;
}
/*End sec6*/
.letter{
    width: 200px;
}
.footin{
/*     width: 70% ;*/
	font-size: 10px;
}
.letter-btn{
    width: 51%;
    top: 6px;
}          
/*End footer*/


}
/* Mobile View */
@media (max-width: 576px) {

.logo img {
    width: 40px;
}
/*END header*/	
.banner-img1 .banner-img2 .banner-img3 .banner-img4{
	min-height: 500px;
}
/* End Banner */
.s1col{
	flex-basis: 48%;
	margin-bottom: 10px;
}
.s1col i{
	font-size: 30px;
}
.s1col h2{
    font-size: 15px;
    line-height: 15px;
}
/* END Sec1 */
/*.img1 .img4{
	width: 40%;
}*/
/*.img2 .img3 {
	width: 30%;
}*/
.s2row{
	display: block;
}
.s2right h2{
	font-size: 26px;
}
.s2right{
	margin-top: 0px!important;
}
/* END sec2 */
.s3row{
	display: block;
	width: 400px;
	border-bottom: 0px;
}
.sec3 h2{
	font-size: 30px;
}
.s3icon{
	font-size: 30px;
}
.s3para{
  padding-left: 0px;
}
/* END sec3 */
.col-left, .col-right{
    display: block;
    width: 100%;
}
.col1{
	width: 100%;
}
.col2{
	width: 100%;
}
.col2 h2{
	font-size: 30px;
}

/* End sec4 */
.sec5 h2{
	font-size: 14px;
}
.s5col {
    flex-basis: 48%;
}    
.s5col img{
	width: 70%;
}
/* End sec5 */
.sec6 h2{
	font-size: 30px;
}
.heading-6{
	font-size: 20px;
}
/* End sec6 */
.sec0 {
    padding: 0px 70px 100px 50px;
}
.s0row{
	width: 400px;
}
.s0icon {
    font-size: 22px;

}