* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', serif;
}
p,
a,
li,
input,
button {
    font-family: 'Montserrat', sans-serif;
}

.sec3{
    padding: 0px 100px 100px 100px;
}

.s3head{
    text-align: center;
} 
.divider-head3{
    display: flex;
    align-items: center;
    justify-content: center;
}
.divider3{
    width: 70px;
    height: 2px;
    background-color:#3498DB;
    margin-left: 15px;
}
.sec3 h3{
    margin-left: 15px;
    font-family: 'Pacifico', cursive;
    font-size: 23px;
    font-weight: 400;
    color: #3498DB;
}
.sec3 h2{
    font-size: 40px;
    font-weight: 700;
    color: black;
    padding: 10px 0px; 
    margin-bottom: 30px;
}
.s3row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 500px;
    margin: auto;
    border-bottom: 1px solid grey;
}
.s3col{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   border-bottom:1px solid #273746;
}
.s3icon{
    font-size: 35px;
    margin-bottom: 15px;
    color: #273746;
}
.s3para{
  padding-left: 10px;
}
.s3para p{
    padding-top: 5px;
    color: gray;
    font-size: 16px;
}
.s3para h5{
    padding-bottom: 10px;
    margin-bottom: 5px;
}
.sym-img{
    width: 100px;
}
.sym{
    padding-bottom:10px ;
    border-bottom: 1px solid grey;
}
.menu{
    padding-top: 60px;
}
.menu-row{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0px 15px 0px;
    box-sizing: border-box;
    width: 100%;
}

.menu3{
    width: 100%;
}
.col-left{
    padding-right: 20px;
}
.col-left img, .col-right img{
    width: 130px;
    padding-right: 20px;
}
.col-left, .col-right{
    display: flex;
    align-items: center;
    width: 50%;
}
.col-left h5, .col-right h5{
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    color: black;
    padding-bottom:10px ;
    border-bottom: 1px solid grey;
}
.text3{
    font-family: 'Nunito', sans-serif ;
}
.text-primary{
    color: #273746;
}
.para3{
    font-style: italic;
    color: grey;
    font-size: 15px;
    font-weight: 300;
    padding-top: 8px;
}
/* END sec3 *


.sec2{
/*    padding: 100px;*/
}
.sec2 img {
     width: 100%;    
}
.heading-2{
     font-size: 40px;
    color: black;
}
.heading-2 li {
    color: black;
    font-size: 20px;
    margin-right: 10px;
    padding-top: 20px;
}
.heading-2 i{
    color: black;
    font-size: 20px;
    margin-right: 10px;
}
.lab{
    padding-left: 100px;
}